/venv/
/src/gpy.egg-info/
/src/__pycache__/
/src/gpy/__pycache__/
/src/gpy/clustering/__pycache__/
/src/gpy/posterior/__pycache__/
/src/gpy/sampler/__pycache__/
/tests/__pycache__/
/.mypy_cache/
/.ipynb_checkpoints/
/.pytest_cache/
/.ruff_cache/
.DS_Store
.idea/